<template>
  <header class="header">
    <div class="header__icon">
      <h2 class="header__icon__title">Logo</h2>
    </div>
    <ul class="header__links">
      <li v-for="link in links" :key="link.id" class="header__list">
        <NuxtLink :to="link.link" class="header__list__link">{{link.label}}</NuxtLink>
      </li>
    </ul>
  </header>
</template>

<script>
export default {
  name: 'HeaderComponent',
  props: {
    links: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss">
  @import "./header.scss";
</style>