<template>
  <div class="pagination">
    <button
      v-bind:class="actualPage+1 <= 1 ? 'pagination__prev pagination__prev-disabled' : 'pagination__prev'"
      disabled="actualPage+1 <= 1"
      @click="changePagination(actualPage - 1)"
    >
      prev
    </button>
    <div class="pagination__numbers">
      <div v-for="(elem, i) in Array(paginationNumber).fill(1)" :key="i" class="pagination__number" @click="changePagination(i)">
        <button
          v-bind:class="actualPage === i ?
            'pagination__number__button pagination__number__button-selected' :
            'pagination__number__button'"
          @click="changePagination(i)"
        >
         {{ i + 1 }}
        </button>
      </div>
    </div>
    <button
      v-bind:class="actualPage+1 >= paginationNumber ? 'pagination__prev pagination__prev-disabled' : 'pagination__prev'"
      disabled="actualPage + 1"
      @click="changePagination(actualPage + 1)"
    >
      next
    </button>
  </div>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    paginationNumber: {
      type: Number,
      required: true
    },
    actualPage: {
      type: Number,
      required: true
    },
    changePagination: {
      type: Function,
      required: true
    }
  }
}
</script>

<style lang="scss">
@import "./pagination.scss"
</style>
