<template>
  <div class="posts_container__content">
    <h2 class="posts_container__content-title">{{ title }}</h2>
    <p class="posts_container__content-description">{{ body }}</p>
  </div>
</template>

<script>
export default {
  name: 'Post',
  props: {
    title: {
      type: String,
      required: true
    },
    body: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss">
@import './posts.scss'
</style>