.posts {
  &__title {
    margin-bottom: 0;
    margin-left: 10px;
  }

  .posts_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  
    &__post {
      width: 33.33%;
      padding: 10px;
      box-sizing: border-box;
    }
  
    &__content {
      height: 100%;
      padding: 15px 20px;
      box-shadow: 0 0 5px 0 black;
      border-radius: 10px;
      box-sizing: border-box;
  
      &-title {
        margin-top: 0;
      }
      &-description {
        margin-bottom: 0;
      }
    }
  }
}