<template>
  <div class="posts">
    <h2 class="posts__title">Posts</h2>
    <div class="posts_container">
      <div v-for="post in posts" :key="post.id" class="posts_container__post">
        <Post :title="post.title" :body="post.body" />
      </div>
    </div>
    <div>
      <Pagination :paginationNumber="paginationNumber" :actualPage="pageSelected" :changePagination="changePagination" />
    </div>
  </div>
</template>

<script>
import Post from './Post'
import Pagination from '../pagination/Pagination'

export default {
  name: 'Posts',
  props: {
    paginationNumbersShow: {
      type: Number,
      required: true
    }
  },
  data: function() {
    return {
      posts: [],
      postsBackup: [],
      pageSelected: 0,
      paginationNumber: 0
    }
  },
  methods: {
    pagination(page = 0) {
      const firstPost = page * this.paginationNumbersShow;
      this.posts = this.postsBackup.slice(firstPost, firstPost + this.paginationNumbersShow)
    },
    changePagination(page) {
      this.pageSelected= page
      this.pagination(page)
    }
  },
  async fetch() {
    this.posts = await fetch('https://jsonplaceholder.typicode.com/posts').then(res => res.json())
    this.postsBackup = this.posts;
    this.pagination()
    this.paginationNumber = Math.ceil(this.postsBackup.length / this.paginationNumbersShow) 
  },
  components: {
    Post,
    Pagination
  }
}
</script>

<style lang="scss">
@import './posts.scss'
</style>