<template>
  <footer class="footer">
    <h2 class="footer__title">Footer</h2>
  </footer>
</template>

<script>
export default {
  name: 'FooterComponent'
}
</script>

<style lang="scss">
  @import "./footer.scss" 
</style>