<template>
  <div>
    <header-component :links="links" />
    <Nuxt />
    <footer-component />
  </div>
</template>

<script>
    import HeaderComponent from '../components/header/HeaderComponent'
    import FooterComponent from '../components/footer/FooterComponent'

  export default {
    layout: 'default',
    components: {
      HeaderComponent,
      FooterComponent
    },
    data: function() {
      return {
        links: [
          {
            id: 1,
            link: '/',
            label: 'Inicio'
          },
          {
            id: 2,
            link: '/contact',
            label: 'Contacto'
          }
        ]
      }
    }
  }
</script>

<style labg="scss">
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
</style>