<template>
  <div class="styles.contact">
    <form class="styles.contact__form">
      <fieldset>
        <label class="styles.contact__form_label" htmlFor="name">Nombre</label>
        <input class="styles.contact__form_input" type="text" id="name" placeholder="Nombre" v-model="name" />
      </fieldset>
      <fieldset>
        <label class="styles.contact__form_label" htmlFor="surname">Apellido</label>
        <input class="styles.contact__form_input" type="text" id="surname" placeholder="Apellido" v-model="surname" />
      </fieldset>
      <fieldset>
        <label class="styles.contact__form_label" htmlFor="email">Email</label>
        <input class="styles.contact__form_input" type="email" id="email" placeholder="Email" v-model="email" />
      </fieldset>
      <fieldset>
        <label class="styles.contact__form_label" htmlFor="phone">Teléfono</label>
        <input class="styles.contact__form_input" type="tel" id="phone" placeholder="Teléfono" v-model="phone" />
      </fieldset>
      <fieldset>
        <label class="styles.contact__form_label" htmlFor="reason">Motivo</label>
        <textarea class="styles.contact__form_placeholder" id="reason" v-model="reason"></textarea>
      </fieldset>
      <fieldset>
        <button type="button"  @click="sendForm">Enviar</button>
      </fieldset>
    </form>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      name: '',
      surname: '',
      email: '',
      phone: '',
      reason: ''
    }
  },
  methods: {
    sendForm() {
      console.log('Name: ', this.name)
      console.log('Surname: ', this.surname)
      console.log('Email: ', this.email)
      console.log('Phone: ', this.phone)
      console.log('Reason: ', this.reason)
    }
  }
}
</script>
