<template>
  <div class="container">
    <Posts :paginationNumbersShow="18" />
  </div>
</template>

<script>
import Posts from '../components/posts/Posts'

export default {
  components: {
    Posts
  }
}
</script>